@using CheckWebApp.Models
@model IEnumerable<Restaurant>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table>
        @foreach (Restaurant r in Model)
        {
            <tr>
                <td>@r.Id</td>
                <td>@r.Name</td>
                <td>
                    <a href="/home/Details/@r.Id">Details</a>
                    @Html.ActionLink("GO","Details",new { Id=r.Id })
                    <a asp-action="Details" asp-route-id="@r.Id">More</a>
                </td>
            </tr>
        }
    </table>
</body>
</html>