@using CheckWebApp.Models
@model IEnumerable<Restaurant>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table>
        @foreach (Restaurant r in Model)
        {
            <tr>
                <td>@r.Id</td>
                <td>@r.Name</td>
            </tr>
        }
    </table>
</body>
</html>